<a href="https://colab.research.google.com/github/Bayaniblues/Lambda-precourse/blob/master/Pandas_cleaning_data_ASSIGN7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Pandas
---
# Assignment 07 - Cleaning Data
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_assign7"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

---

## Set up the data with `pandas`

### 1.1 - Import pandas

In [0]:
# Import pandas with the standard alias

### 1.2 - Import the data contained in the CSV file
You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdpmessy2.csv).

We'll use this [resource](https://www.iban.com/country-codes) (a list of country names and codes) later to "clean" values correctly.

In [0]:
# Read in the data

### 1.3 - Quickly inspect the head

In [0]:
# Look at the first 5-10 rows of the DataFrame

### 1. 4 - Inspect the tail

In [0]:
# Look at the tail

### 1.5 - What is the shape of the DataFrame? 

Pay close attention to the column names; it looks like there may be an extra index column.

In [0]:
# Look at the shape of df

### 1.6 - Index change

It's easy to just drop a column rather than doing an index_set. Let's use the `df.drop()` method to remove that extra column.

In [0]:
# Drop the additional column

In [0]:
# Look at the head of the DataFrame to verify the extra column has been dropped

### 1.7 - Correct column names

Remember from lecture that we changed the column names, to correct for mispelling and formatting? We'll do that here. You can follow the method from lecture using the `.columns()` method.

In [0]:
# Rename the columns to: country, GDP, CODE (no space!)

### 1.8 - Missing values

Missing values are something that you will deal with often when cleaning data. Let's find all of the missing values first, to see how many there are. Remember to use the method which 'sums' the null values.

In [0]:
# Find the missing values (we'll subset in the next cell)

In [0]:
# Subset the df to look at the null values

### 1.9 - Cleaning up the data: Country codes

Similar to lecture, we can see that we still have missing country codes. Use this [link](https://www.iban.com/country-codes) to find the codes and country names that are missing. Remember to use the `df.at` method to replace these codes.

In [0]:
# Fix the country codes first
# Use 'at' if you only need to get or set a single value in a DataFrame or Series.

In [0]:
# Check to make sure all the codes have been replaced.
# (remember to subset the df so it only shows rows with NaN)

In [0]:
# Next fix the missing country names

In [0]:
# Check to make sure all the codes and country names have been replaced.
# (remember to subset the df so it only shows rows with NaN)

### 1.10 - Missing GDP values

Now, it looks like we only have three GDP values missing. Using the information below, let's fix up those values.

*   France has a GDP of 2902.0 billion
*   Ireland has a GDP of 245.80 billion
*   Bangladesh has a GDP of 186.60 billion

In [0]:
# Fix missing GDP values

### Verify the change persisted!

Run one final check to see how many missing values there are. If you still have more than zero, then go through the above celss again to fill them in.

In [0]:
# Do a final check for missing values

### Solution 1.10

We'll do a test on the DataFrame to check that all the missing values have been filled in.

In [0]:
# DO NOT EDIT THIS CELL
# SOLUTION to 1.10

# Check that df has no missing values
assert df.all(axis=None) == True, "You still have null values in your DataFrame."

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_assign7): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."


---