<a href="https://colab.research.google.com/github/Bayaniblues/Lambda-precourse/blob/master/Python_forloops_LECTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# Lecture 2A - Python For Loops
---

## Running blocks of code repeatedly (iteration)

Loops in Python provide a way for us to run the same block of code over and over again. This repetition is called ***iteration***. There are many ways to iterate in Python, but we're going to focus on the most popular: For Loops.

For Loops are a type of "definitive" iteration. This just means that we have to specify beforehand how many times we want our block of code to run.

### How do we tell a For Loop how many times to run?

The way that we tell a For Loop how many times to run is by providing it an "iterable." Iterables are a category of data structures that hold multiple items in them (this actually isn't 100% correct but is an OK way to think about it as you're getting started). A list is an iterable! 

If I provide a list to a For Loop, the loop will run once for each item in the list.

In [0]:
for item in [1,2,3,4,5]:
  print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [0]:
for value in [1,2,3,4,5]:
  print(value)

1
2
3
4
5

### For Loop Syntax

Notice that I start a for loop off with the keyword `for` and then provide a variable whose value will change based on each iteration of the for loop. 

I use the keyword `in` to indicate that this variable will represent items from the following iterable, and then I provide an iterable. In the above examples I simply used a list. 

The declaration of any for loop ends with a colon `:`, this tells the Python interpreter that I'm done with that statement and that the code block that I want to repeat is coming next.

When providing the block that I want to be repeated I have to indent each line in order to designate that the code block is within the for loop. If I want to write additional code after the for loop, then I just don't indent it.

In [0]:
animal_list = ['cat', 'dog', 'fish', 'bird']

for animal in animal_list:
  # Indent to put things inside the For Loop
  print('-------------------')
  print("*****", animal, "*****")
  print('-------------------\n')

# Unindent to put code outside of the for loop
print("Are some of my favorite animals.")

-------------------
***** cat *****
-------------------

-------------------
***** dog *****
-------------------

-------------------
***** fish *****
-------------------

-------------------
***** bird *****
-------------------

Are some of my favorite animals.

### The range() Iterable

What if I wanted a block of code to run 20 times, but I didn't have a list handy out to use as the iterable? Well, there's a really easy way to make iterables in python using the `range()` function.

In order to make an iterable of a certain size simply pass in two arguments to the range function:

1.   The number you want it to start at (inclusive).
2.   The number you want it to end at (exclusive).

In [0]:
for item in range(1, 21):
  print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

If I only pass one argument into the range function, then it will just start at 0 and count up to one less than that number.

In this case it becomes kind of nice that the range function starts at 0 and that the second argument of the range function is exclusive, because if I want a loop to run 5 times then I can just pass in exactly then number 5 to the range function and use that as my iterable and I'll get a loop that runs 5 times.

In [0]:
for item in range(5):
  print(item)

0
1
2
3
4

In [0]:
for item in range(5):
  print('This code has run', item+1, 'times')

This code has run 1 times
This code has run 2 times
This code has run 3 times
This code has run 4 times
This code has run 5 times

The range function is a great way to tell a for loop how many times to run when you don't have an iterable data structure handy to provide to the loop.

### Manipulating Lists as we iterate over them

One of the most powerful uses of For Loops is using them in combination with lists in order to run different code based on each individual value in a list. For example, I can write a for loop that squares each value in a list

In [0]:
numbers_to_square = [1,2,3,4,5]

for number in numbers_to_square:
  print(number**2)

1
4
9
16
25

I can create a new list that holds the squared values by creating an empty list and appending these new values to the empty list

In [0]:
numbers_to_square = [1,2,3,4]

squared_numbers = []
for number in numbers_to_square:
  squared_numbers.append(number**2)

print(numbers_to_square)
print(squared_numbers)

[1, 2, 3, 4]
[1, 4, 9, 16]

I can also keep track of the number of iterations that the for loop is on by using the `enumerate()` function. When I use the enumerate function I can add a second variable to the beginning of the for loop. The first variable will represent the specific iteration of the for loop, and the second variable will change to represent the each item in the list.

In [0]:
for i, number in enumerate(numbers_to_square):
  print("index:", i, "-- item in original list:", number, "-- item in original list squared:", number**2)

index: 0 -- item in original list: 1 -- item in original list squared: 1
index: 1 -- item in original list: 2 -- item in original list squared: 4
index: 2 -- item in original list: 3 -- item in original list squared: 9
index: 3 -- item in original list: 4 -- item in original list squared: 16

Now not only can I use this `i` variable in combination with the `enumerate()` function to track the iteration that my loop is on, I can use it to overwrite values in the original list as well.

In [0]:
for i, number in enumerate(numbers_to_square):
  numbers_to_square[i] = number**2

print(numbers_to_square)

[1, 4, 9, 16]

### Using For Loops to modify the list that we are looping (iterating) over

I can now use this "index" value not only to access items in the original list but to modify the previous list as I am looping over it. Lets write a loop that subtracts one from each item in the list that we are iterating over.

In [0]:
my_list = [5,6,7,8,9,10]

for i, num in enumerate(my_list):
  my_list[i] = my_list[i]-1

print(my_list)

[4, 5, 6, 7, 8, 9]

Please notice that we did not create a new list as we did this, but we modified the original list itself. Lets run it again.

In [0]:
for i, num in enumerate(my_list):
  my_list[i] = my_list[i]-1

print(my_list)

[3, 4, 5, 6, 7, 8]

and again

In [0]:
for i, num in enumerate(my_list):
  my_list[i] = my_list[i]-1

print(my_list)

[2, 3, 4, 5, 6, 7]

In [0]:
# This is what we would have to do in order to replicate
# by hand what our for loop above was doing in just 2 lines.

# my_list[0] = my_list[0]-1
# my_list[1] = my_list[1]-1
# my_list[2] = my_list[2]-1
# my_list[3] = my_list[3]-1
# my_list[4] = my_list[4]-1
# my_list[5] = my_list[5]-1

# my_list

Now we're beginning to see how combining lists and for loops can be very powerful for helping us to manipulate lots of pieces of information in a consistent way without having to repeat our code many times.

### Looping over two-dimensional lists

If we have lists inside of lists then we can loop through them by putting for loops inside of for loops. These are called "nested" for loops.

Lets look at our two-dimensional list from the previous lesson and see if we can access the values inside of it in an orderly manner.

In [0]:
students = [           
    ["Popeye", 24],  
    ["Tabatha", 23], 
    ["Jerry", 25],
    ["Flynn", 23],    
    ["Sally", 40],
    ["Michael", 46],
    ["Susie", 19],
    ["Amanda", 34]
]

In [0]:
for student in students:
  for value in student:
    print(value)

Popeye
24
Tabatha
23
Jerry
25
Flynn
23
Sally
40
Michael
46
Susie
19
Amanda
34

Lets say that the above list represents our database of student information. A new school year is starting and we want to increment the ages of all of the students by 1, how might we do this?

In [0]:
for i, student in enumerate(students):
  students[i][1] = students[i][1] + 1

print(students)

[['Popeye', 25], ['Tabatha', 24], ['Jerry', 26], ['Flynn', 24], ['Sally', 41], ['Michael', 47], ['Susie', 20], ['Amanda', 35]]

What if we only wanted to print out the ages of the students?

In [0]:
for student in students:
  print(student[1])

25
24
26
24
41
47
20
35

What if we wanted to calculate the average age of students in the class?

In [0]:
total_age = 0
for student in students:
  total_age = total_age + student[1]

print("Average age of class:", total_age/len(students))

Average age of class: 30.25