<a href="https://colab.research.google.com/github/Bayaniblues/Lambda-precourse/blob/master/Python_vars_datatypes_LECTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# Lecture - Python Variables & Data Types
---

## Variables: The building blocks of Python

### What is a variable?
We saw in the previous module that Python is one heck of a calculator. But you can imagine how more complex calculations would require us to remember a lot of values. That's where ***variables*** come in!  

A variable is a storage unit for different values like numbers or text. Variables must be specific and case sensitive because you call up the value of a variable by using its name.

In [0]:
# Remember this cell from the previous module? Meet ints. 

x = 23
y = 17

x + y

40

In [0]:
type(x)

int

In the above cell we created (or *declared*) two variables: *x* and *y*. We did this by simply using an **=** sign much like we would in algebra.  
In this example we only used numerical values (these are called ***integers*** or ***ints***). So what happens when you use text values?

In [0]:
# These are called strings:

z = 'Dennis is '
w = "running late, again!"

z + w

'Dennis is running late, again!'

In [0]:
print(type(z))
print(type(w))

<class 'str'>
<class 'str'>

Something different happened!

When **ints** are added together, Python returns their sum as another int. Text values are referred to as ***strings***. These can be denoted using 'single' or "double" quotation marks as you can see above.  

When strings are added together, that's called *concatenation*. They're basically just pushed up against together. But remember, spaces are also counted. If you notice, there's no space at the end of the first string. Try adding a space after "is" and see what happens.  

This is a key principle of Python. *Different* types have *different* behavior.

Let's try something a bit more realistic. 

Let's say we're working with personal financial data and we're trying to figure out a budget.

In [0]:
# Let's put some numbers together:

# Income:
monthly_income = 5000

# Taxes:
tax_rate = 0.184

# Expenses
rent = 1200
food = 320
wifi = 100
transport = 300
misc = 400

In [0]:
type(tax_rate)

float

Notice how that cell didn't have an output? Even though we ran the cell, it had no commands other than assigning values to different variables. If we tried to add something (like in the original example), then there would be an output.

Ok. We've created seven variables and assigned each a different numeric value to represent our income, taxes, and expenses for a given month. Let's see how much we have left over after we pay Uncle Sam and cover our expenses.

In [0]:
# Income, after taxes:
AT_income = monthly_income * (1-tax_rate)
print(AT_income)

4080.0000000000005

In [0]:
# Total expenses
expenses = rent + food + wifi + transport + misc
print(expenses)

2320

In [0]:
# What's left?

AT_income - expenses

1760.0000000000005

Not bad. Assuming we saved all of that every month, how long would it take us to have six months of expenses covered in case of an emergency?

In [0]:
# Let's declare a new variable to store that value:
max_savings = AT_income - expenses

# Now let's calculate how long it would take:
(expenses * 6) / max_savings

7.909090909090907

Huh...nearly eight months! Guess we better start saving then.

### Operators
We just used Python ***operators*** to make those calculations.  

*   ***+*** to add
*   ***-*** to subtract
*   ***/*** to divide


There are dozens of operators in Python. These are the more common arithmetic operators. But don't let that scare you. It's all just practice.

Now what do you think would happen if you tried to add a string to a number?

In [0]:
# Let's try it:
# z holds the string "Dennis is" and x holds the integer "23".
# So by combining them with the + operator, we should get...
# 'Dennis is23', right?

x = 23
z = 'Dennis is '

z + x

TypeError: ignored

Wrong. We get a **Type**Error. The error complains that it was expecting a *string*, not an *int*.   
We'll need to convert *x* into a string. Here's the easiest way to do it:

In [0]:
# We use Python's built-in str() method!

z + str(x)

'Dennis is 23'

Now we get what we wanted! 

This was just a preview; we'll review *methods* in more depth later on, don't worry.

## Python Data Types

### Strings and ints

Let's discuss the different data types in Python. We've covered the first two already:  


*   **Strings** - Strings of characters that denote text
*   **Integers** - Positive or negative whole numbers with no decimal point


But what if we wanted to use decimal points, like in the tax rate example above?

In [0]:
# Python can handle it!
# If you pass a variable to the built-in function type(), it will return that variable's data type
type(tax_rate)

my_float = 0.000003
type(my_float)

float



*   **Floats** - A number that can have an integer part and a fractional part. In other words, a decimal!

In [0]:
# Then there are booleans:

a = True
b = False

type(a), type(b)

(bool, bool)


*   **Booleans** - Simply yes or no. Booleans will be really useful later on for filtering your data and setting conditions for certain commands to execute.

In [0]:
# Finally, meet dictionaries:

activities = {'rain': 'read a book',
              'sunny': 'go for a swim',
              'snowy': 'build a fire' 
             }

# Dictionaries can be made with other data types

numbers = {'one': 1,
           'two': 2.0,
           'three': 3
          }

In [0]:
numbers['three']

3

In [0]:
activities['sunny']

'go for a swim'

In [0]:
type(numbers)

dict


*   **Dictionaries** - Associating this with that. Dictionaries are made up of paired keys and values (you can see our defined pairs in the example above). They will be a powerful tool to help you organize your data later on.

### Remember: *Different* data types have *different* behavior:

In [0]:
# Integers & floats can be added together arithmetically
23 + 17

40

In [0]:
# Strings are concatenated (bunched) together
'ac' + 'dc'

'acdc'

In [0]:
# You can also think of true or false as 1 or 0 (binary)
True + False

1

### *Weird, right?* Don't worry! As you practice with Python, you'll develop an intuitive grasp of each data type's behavior. On that note, time for your first assignment!