<a href="https://colab.research.google.com/github/Bayaniblues/Lambda-precourse/blob/master/Python_lists_LECTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# Lecture 2A - Python Lists
---

## Lists: Storing Ordered Collections of Values

### What is a list?
Variables are used to store a specfic value with a specific data type, but as a data scientist you'll be working with A LOT of data points. For example, in the previous assignment we calculated the BMI of two people. Imagine if we'd asked you to do it for twenty people. Updating the variables twenty times or creating twenty different variables would have been tedious and repetitive.

In this lesson we're going to introduce a new Python "data structure" that will allow us to store *multiple* values to a *single* variable. This data structure is called a ***list***.

### List Syntax:

Every list is wrapped in square brackets: `[ ]` and each value within the list is separated by commas: `,`. Lists are particularly useful because the **order** of items within the list is always maintained. This allows us to reliably store and retrieve specific values within a list. 

Let's make our first list from the ages of some previous students.

In [0]:
# You can create a list simply by using brackets [ ] and separating elements with a comma
ages = [24, 23, True, 23, 'Cat', 46, 19, 34]

We can store our list of values to a variable just like we would a single value using the assignment operator (equals sign): `=`.

But this variable will then not have a type of 'float', 'int', 'string', or 'boolean' like we have practiced in previous lessons, but it will have a data type of "list" because that's what we have stored to it.

In [0]:
type(ages)

list

We can access our list by using the variable that it is saved to just like we would any other variable.

In [0]:
ages

[24, 23, True, 23, 'Cat', 46, 19, 34]

We can also have empty lists that don't have any items in them. Sometimes we will create an empty list first just so that our variable has something saved to it and then add values to it later.

In [0]:
empty_list = []

In [0]:
empty_list

[]

### Lists can hold different types of values

A list doesn't just have to hold integers, or floats or booleans, etc. But can hold all different types of values. This means that we can use a single list to hold lots of improtant information. 

Let's add some names to our ages list as well.

In [0]:
names_and_ages = ["Popeye", 24, "Tabatha", 23, "Jerry", 25, "Flynn", 23, "Sally", 40, "Michael", 46, "Susie", 19, "Amanda", 34]

# Notice there are both ints and strings in there. No problem!
type(names_and_ages)

list

In [0]:
names_and_ages

['Popeye',
 24,
 'Tabatha',
 23,
 'Jerry',
 25,
 'Flynn',
 23,
 'Sally',
 40,
 'Michael',
 46,
 'Susie',
 19,
 'Amanda',
 34]

### Lists can also hold other lists! 

In the list above you'll notice that there's no way to associate a name with a specific name with a specific age besides their position in the list, we can make this a little bit easier by storing lists inside of our list. A list that itself contains lists is sometime called a "nested" list or a "two-dimensional" list.

We an better associate a name with an age by holding them each within a smaller list and then saving all of those to a larger list.

In [0]:
# Same idea, declare lists with []'s and separate elements with commas. Even if those elements are other lists.

students = [           # Start with an open bracket
    ["Popeye", 24],  # Each element is a list with 2 elements [name, age]
    ["Tabatha", 23], # We still have to separate each item in our large list with commas
    ["Jerry", 25],
    ["Flynn", 23],    
    ["Sally", 40],
    ["Michael", 46],
    ["Susie", 19],
    ["Amanda", 34]
]                   # End with a close bracket


type(students)

list

In [0]:
# The code below is equivalent to the above code but with different whitespace.
students = [["Popeye", 24],["Tabatha", 23],["Jerry", 25],["Flynn", 23],
            ["Sally", 40],["Michael", 46],["Susie", 19],["Amanda", 34]]

# It's just a bit easier to take in the other way.

In [0]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

### Accessing Specific Items Within a List 

Like the other data types you've learned about, lists have their own behaviors and functionality.

A list is no good to you if you can't access the elements inside it. Python uses something called "indexing" to keep track of where values are inside of a list. This means that each elemenet in a list is associated with an integer value that represents its position in a list. The tricky part about list indexing is that the index values start at 0 and not at 1 like the traditional counting numbers. This means that the item in the first position in the list is at index 0, the second item in the list is at index 1, the third item is at index position 2, etc. 

Let's practice accessing specific items within the lists we have created.

To access a specific item within a list simply write the varaible name with square brackets on the end and then "pass in" -put inside of the square brackets- the index of the item that you want to retrieve.

In [0]:
ages

[24, 23, True, 23, 'Cat', 46, 19, 34]

In [0]:
'''By adding brackets to the end of the list name and passing in an index value, 
Python will return the element that is at that particular index position in 
the given list. The first value is index 0 so...'''

ages[0]

24

In [0]:
# If we want the 5th element in the list, we use index 4.
ages[4]

'Cat'

### Use negative index values to start from the back of the list

In [0]:
# To access the LAST element in the list, we can use -1.
ages[-1]

34

In [0]:
# So let's say we want the 2nd to last element in the list:
ages[-2]

19

### Accessing items in two-dimensional lists.

We can retrieve the lists (items) inside of a two-dimenaional list as if they were any other piece of information. No matter what we've stored in the list, the list indexing works the same.

In [0]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

Lets access Sally's age, her list is in index position 4.

In [0]:
students[4]

['Sally', 40]

You'll see above that by indexing into the outer list was able to access Sally's inner list. I can then access items inside of Sally's inner list by adding another set of square brackets with the index corresponding to the value that I want to retrieve from the inner list.

In [0]:
# Get the item at index position 4 in the outer list
# then get the item at index position 0 of that item.
students[4][0]

'Sally'

In [0]:
students[4][1]

40

We can nest lists inside of lists and go as deep as we need to with it, however in practice, we typically won't go further than a three-dimensional list.

In [0]:
three_dimensional_list = ['cat', ['fish', 'shark', ['octopus', 'squid']], 'dog']

In [0]:
three_dimensional_list

['cat', ['fish', 'shark', ['octopus', 'squid']], 'dog']

In [0]:
three_dimensional_list[1]

['fish', 'shark', ['octopus', 'squid']]

In [0]:
three_dimensional_list[1][0]

'fish'

In [0]:
three_dimensional_list[1][1]

'shark'

In [0]:
three_dimensional_list[1][2]

['octopus', 'squid']

In [0]:
three_dimensional_list[1][2][0]

'octopus'

In [0]:
three_dimensional_list[1][2][1]

'squid'

### Slicing Lists (subsetting)

We can use list *slicing* techniques in order to retrieve multiple items. Instead of passing in a single index value we will pass in a start index and an end index separated by a colon to retrieve any items within that range.

The basic structure is my_list[start:end] where the start index is inclusive, and the end index is exclusive. In other words, from the start, up to (but not including) the end. 

Let's try it:

In [0]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [0]:
# Let's say we want Tabatha and Jerry's information:

students[1:3]

[['Tabatha', 23], ['Jerry', 25]]

In [0]:
# Now let's say we want Sally and Michael's information but want to access it 
# by indexing from the back of the list:
students[-4:-2]

[['Sally', 40], ['Michael', 46]]

If we don't provide a start or end position, then Python will assume that we meant the start or end of the list.

In [0]:
# From the beginning of the list to the third element (not including the third)
students[:3]

# Remember, we're actually getting elements 0, 1  and 2.
## The element at index 3 would be Flynn's info, but because slicing returns
## up to by not including include whatever index is provided second.

[['Popeye', 24], ['Tabatha', 23], ['Jerry', 25]]

In [0]:
# From index 4 to the end of the list
students[4:]

[['Sally', 40], ['Michael', 46], ['Susie', 19], ['Amanda', 34]]

### Adding Elements to a List

One of the easiest ways to add elements to a list is by using the `.append()` method. We can call this method on any list variable and pass in (put inside of the parenthesis) the value that we want to *append* to the end of the list

In [0]:
ages = [24, 23, 25, 23, 40, 46, 19, 34]

In [0]:
ages.append(30)

In [0]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30]

You can append anything that you want to the end of a list. Remember, that lists can hold any datatype so Python won't stop me if I add something silly to the end of my list of ages.

In [0]:
ages.append("Lambda School")

In [0]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30, 'Lambda School']

I can *insert* values into a specific place within a list using the `.insert()` method. We have to pass in two arguments to the insert method. The first is the index where we want to insert the new item, and the second is the item that we want to put into the list.

In [0]:
ages.insert(4, 3.141592)

In [0]:
ages

[24, 23, 25, 23, 3.141592, 40, 46, 19, 34, 30, 'Lambda School']

### Changing Elements Within a List

We can change an element within a list by accessing that element via its index and then reassigning that index to a new value

In [0]:
# The third age in our ages list is 25
ages[2]

25

In [0]:
# Let's change it to 26
ages[2] = 26

In [0]:
# Look at Ages List
ages

[24, 23, 26, 23, 3.141592, 40, 46, 19, 34, 30, 'Lambda School']

### Deleting Elements from a List

We can remove an item at a specific index in a list using the `.pop()` method. This method will also return the value that we have removed from the list.

In [0]:
pi = ages.pop(4)
pi

3.141592

In [0]:
ages

[24, 23, 26, 23, 40, 46, 19, 34, 30, 'Lambda School']

If we call the `.pop()` method without passing in an index it will remove the last item in the list.

In [0]:
ages.pop()

'Lambda School'

In [0]:
ages

[24, 23, 26, 23, 40, 46, 19, 34, 30]

If you want to remove an element by its value but not by its index you can use the `.remove()` function.

In [0]:
ages.remove(46)

In [0]:
ages

[24, 23, 26, 23, 40, 19, 34, 30]

In [0]:
funny_list = ['cat', 'cat', 'dog', 'dog', 'fish']

In [0]:
funny_list.remove('dog')

In [0]:
funny_list

['cat', 'cat', 'dog', 'fish']

In [0]:
funny_list.remove('dog')

In [0]:
funny_list

['cat', 'cat', 'fish']

In [0]:
funny_list.remove('dog')

ValueError: ignored